@page "/ratecard/{transactionId}"
@page "/ratecard/{transactionId}/{ratecardsOffset}"

@inject HttpClient HttpClient
@using _4PL.Data
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@inject IJSRuntime JS
@inject NavigationManager NavManager

<PageTitle>Ratecard</PageTitle>

<h3>RateCard</h3>

<div>
    @foreach (string ratecardId in ratecardIds)
    {
        <div class="card-columns">
            <RateCardComponent ratecardId="@ratecardId"></RateCardComponent>
        </div>
    }
</div>

@code {
    [Parameter]
    public string transactionId { get; set; } = "";
    [Parameter]
    public string ratecardsOffset { get; set; } = "0";
    [Parameter]
    public List<RateCard> ratecards { get; set; } = new();
    [Parameter]
    public List<string> ratecardIds { get; set; } = new();

    // protected override async Task OnInitializedAsync()
    // {
    //     if (transactionId != "")
    //     {
    //         ratecards = await GetRateCards();
    //     }
    // }

    // async Task<List<RateCard>> GetRateCards()
    // {
    //     return await HttpClient.GetFromJsonAsync<List<RateCard>>($"{Configuration["ApiBaseUrl"]}/api/RateCard/GetTransactionDetails/{transactionId}/{ratecardsOffset}");
    // }

}
