@using _4PL.Data

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="DataAnalysis" Match="NavLinkMatch.All">Accrual vs Actual Costs</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="DataAnalysis">Another Analysis</NavLink>
    </li>
</ul>

@code {

}
