@page "/DataAnalysis"

@using System.ComponentModel.DataAnnotations
@using _4PL.Data

@inject ILogger<DataAnalysis> Logger
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject IConfiguration Configuration

<PageTitle>Data Analysis</PageTitle>

<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills flex-column">

            @foreach (DataReport report in reports ?? Enumerable.Empty<DataReport>())
            {
                <li class="nav-item">
                    <NavLink class="nav-link" href="javacript:void(0)" Match="NavLinkMatch.All" @onclick = "() => ShowReport(report)">@report.Title</NavLink>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-10">
        @if (currReport != null)
        {
            <div align="center" class="col-md-12">
                <iframe title="@currReport.Title" width="1300" height="800" src="@currReport.Link" frameborder="0" allowFullScreen></iframe>
            </div>
        }
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private string? apiBaseUrl;
    private DataReport? currReport;
    private List<DataReport>? reports = new();

    protected override async Task OnInitializedAsync()
    {
        apiBaseUrl = Configuration["ApiBaseUrl"];
        Logger.LogInformation("Fetching Reports");
        reports = await HttpClient.GetFromJsonAsync<List<DataReport>>($"{apiBaseUrl}/api/DataAnalysis/FetchReports");
    }

    private void ShowReport(DataReport report)
    {
        currReport = report;
    }
}
