@page "/Account/ForgotPasswordConfirmation"

@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Forgot password confirmation</PageTitle>

<h1>Forgot Password Confirmation</h1>
<hr />
<StatusMessage Message="@statusMessage" />

@code {
    private string? statusMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        HttpContext.Response.StatusCode = StatusCodes.Status200OK;
        statusMessage = "A password reset link has been sent to your email.";
    }
}
