@page "/Account/Lockout"

<PageTitle>Locked Out</PageTitle>

<header>
    <h1 class="text-danger">Locked Out</h1>
    <p class="text-danger">This account has been locked out, please contact an administrator.</p>
</header>
