@inherits LayoutComponentBase
@layout AccountLayout

<h1>Maintenance</h1>
<hr />

<div>
    <div class="row">
        <div class="col-md-3">
            <AdminNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
