@page "/DataAnalysis"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using System.Security.Claims
@using _4PL.Data

@inject ILogger<DataAnalysis> Logger
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject IConfiguration Configuration

@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<PageTitle>Data Analysis</PageTitle>

<h1>Data Analysis</h1>
<hr />
<div align="center">
    <iframe title="Comparison of Accrual and Actual Costs" width="1500" height="800" src="https://app.powerbi.com/reportEmbed?reportId=33c3d6fb-df15-4937-a8c2-8c089f317085&autoAuth=true&ctid=f1cf02ad-9661-4b67-ad60-9ae41c500550" frameborder="0" allowFullScreen="true"></iframe>
</div>

@code {
    public void OnInitialisedAsync()
    {
        Logger.LogInformation("Analysis Generated.");
    }
}
