@page "/Account/Manage"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using _4PL.Data

@inject IdentityRedirectManager RedirectManager
@inject ILogger<Index> Logger
@inject IConfiguration Configuration
@inject HttpClient HttpClient

<PageTitle>Profile</PageTitle>

<div class="row">
    <div class="col-md-8">
        <h3>Profile</h3>
        <hr />
        <p>
            <strong>Name</strong>
            <input class="form-control" type="text" readonly value="@currName" />
        </p>
        <p>
            <strong>Email</strong>
            <input class="form-control" type="text" readonly value="@currEmail" />
        </p>
    </div>
</div>
@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    private string? apiBaseUrl;
    private string? currEmail;
    private string? currName;

    protected override void OnInitialized()
    {
        apiBaseUrl = Configuration["ApiBaseUrl"];
        currEmail = HttpContext.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value;
        currName = HttpContext.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value;
    }

    private sealed class InputModel
    {
        [Phone]
        [Display(Name = "Phone number")]
        public string? PhoneNumber { get; set; }
    }
}
