.grid {
    height: 37rem;
    width: 100%;
    overflow-y: auto;
}

.heading {
    background-color: rgb(230, 230, 230);
    height: 3rem;
    padding: 7px;
    text-align: center;
}

.subheading {
    background-color: rgb(240, 240, 240);
    height: 40px;
    padding: 6px;
    padding-left: 12px;
}

.button-view {
    width: 100px;
    flex-wrap: wrap;
    margin:3px;
}

::deep thead {
    position: sticky;
    width: auto;
    top: 0;
    border-bottom: 1px solid;
    background-color: rgb(240, 240, 240);
}

::deep thead .access {
    width: 400px;
    overflow-wrap: initial;
}

::deep thead .description {
    width: 800px;
    flex-wrap: wrap;
}

::deep thead .button-view {
    width: 300px;
    flex-wrap: wrap;
}

::deep tr:nth-child(even) {
    background: rgba(240,240,240);
}

::deep tr:where(:hover) {
    border: 1px solid;
}
