@page "/Account/RegisterConfirmation"

@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Account Added</PageTitle>

<h1>Account has been added!</h1>
<hr />

<StatusMessage Message="@statusMessage" />

<div style="margin:10px">
    <a href="@(NavigationManager.GetUriWithQueryParameters("Admin/AddAccount", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Add more users here.</a>
</div>

<div style="margin:10px">
    <a href="@(NavigationManager.GetUriWithQueryParameters("Account/ResetPassword", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Reset password for testing purposes</a>
</div>


@code {
    private string? statusMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        HttpContext.Response.StatusCode = StatusCodes.Status201Created;
        statusMessage = "A password reset link has been sent to your email for confirmation.";
    }
}