.grid {
    height: 24rem;
    width: 100%;
    overflow-y: auto;
}

::deep thead {
    position: sticky;
    width: auto;
    top: 0;
    border-bottom: 1px solid;
    background-color: rgb(240, 240, 240);
}

::deep thead .email {
    width: 100%;
    word-wrap:anywhere;
    border-bottom: 1px solid;
    background-color: rgb(240, 240, 240);
}

::deep thead .name {
    width: 50%;
    flex-wrap: wrap;
    border-bottom: 1px solid;
    background-color: rgb(240, 240, 240);
}

::deep tr:nth-child(even) {
    background: rgba(240,240,240);
}

.page-size-chooser {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.page-size-chooser select {
    margin: 0 0.5rem;
    padding: 0.2rem 0.5rem;
}
