@page "/Maintenance"
@using _4PL.Components.Account

@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<h3>Maintenance</h3>

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Mondelez</a>
    </div>
</div>



@code {

}
