@page "/Account/AccessRights"

<h3>AccessRights</h3>

@code {

}
<div>
<table border="1">
        <thead>
        <tr>
            <th colspan="4">Rate Card</th>
            <th colspan="4">Shipment</th>
            <th colspan="4">Shipment Auto Rating</th>
        </tr>
        </thead>
        <thead>
        <tr>
            <td>Read</td>
            <td>Modify</td>
            <td>Import</td>
            <td>Delete</td>
            <td>Read</td>
            <td>Modify</td>
            <td>Import</td>
            <td>Delete</td>
            <td>Read</td>
            <td>Modify</td>
            <td>Import</td>
            <td>Delete</td>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>&#9989;</td>
                <td>&#9989;</td>
                <td>&#9989;</td>
                <td>&#9989;</td>
                <td>&#9989;</td>
                <td>&#9989;</td>
                <td>&#9989;</td>
                <td>&#9989;</td>
                <td>&#9989;</td>
                <td>&#9989;</td>
                <td>&#9989;</td>
                <td>&#9989;</td>
            </tr>
        </tbody>
    </table>
</div>
